<div class="content">
  <button ng-click="order='number'">Order by Number</button>
  <button ng-click="order='name'">Order by Name</button>
  <input type="text" ng-model="search">
  <ul id="pokemon-list">
    <li ng-repeat="pokemon in pokemons | orderBy: order | filter: search">
      <img ng-src="{{pokemon.imageUrl}}">
      <h3>{{pokemon.number}} - {{pokemon.name}}</h3>
    </li>
  </ul>
  <!-- <form ng-submit="addPokemon()">
    <input type="text" placeholder="name" ng-model="newPokemon.name" />
    <input type="text" placeholder="number" ng-model="newPokemon.number" />
    <input type="text" placeholder="type" ng-model="newPokemon.type" />
    <input type="text" placeholder="image url" ng-model="newPokemon.thumb" />
    <input type="submit" value="Add new Pokemon">
  </form>
  <a href="" ng-click="removeAll()">Remove all Pokemon</a> -->
</div>